<p id="notice"><%= notice %></p>

<h1>Aliens cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Planeta</th>
      <th>Idade</th>    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliens.each do |alien| %>
      <tr>
        <td><%= alien.name %></td>
        <td><%= alien.planet.name %></td>
        <td><%= alien.age %></td>
        <!--td><%= alien.power_ids %></td-->
        <td><%= link_to 'Exibir', alien %></td>
        <td><%= link_to 'Editar', edit_alien_path(alien) %></td>
        <td><%= link_to 'Excluir', alien, method: :delete, data: { confirm: 'O registro será exlcuido permanentemente! Deseja realizar essa operação?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_alien_path %>
